
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}
h1, h2, h3 {
    margin-top: 0;
}

.contact {
    margin-top: 10px;
}
.contact p {
    margin: 5px 0;
}
.section {
    margin-top: 20px;
}
.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
.section p {
    margin: 10px 0;
}
.Responsibilities h4{
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    
}
